<style scoped>


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


</style>


<template>
    <v-container>
	    <v-layout
	      text-xs-center
	      wrap
	    >
		    <v-flex xs6 offset-xs3>
				<v-content>
					<v-container fluid>
						<v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
							<img :src="imageUrl" height="150" v-if="imageUrl"/>
							<v-text-field label="Select Image" @click='pickFile' v-model='imageName' prepend-icon='attach_file'></v-text-field>
							<input
								type="file"
								style="display: none"
								ref="image"
								accept="image/*"
								@change="onFilePicked"
							>
						</v-flex>

					</v-container>
				</v-content>

				<v-form ref="form" >
                   <v-btn
		             tag
		              type="submit"
		              :disabled="loading"
		              @click="uploadImages"
		              outline
		              round
		              color="green"
		            >Upload</v-btn>
				</v-form>

			</v-flex>

		</v-layout>

		<v-flex xs6 offset-xs3>

		  <table >
			  <tr>
			    <th>id</th>
			    <th>image</th>
			    <th>Action</th>

			  </tr>
			  <tr v-for="images in imageGetters">
			    <td>{{images.id}}</td>
			    <td><img v-bind:src="'http://localhost:8000/storage/upload/images/'+images.name" height="50" width="50" /> </td>
			    <td> <a @click="removeImage(images.id)">Delete</a></td>

			  </tr>
			  
			</table>

		 </v-flex>

    </v-container>
</template>



<script type="text/javascript">
  export default {
       data(){
           return {

        title: "Image Upload",
        dialog: false,
		imageName: '',
		imageUrl: '',
		loading: false,
		imageFile: '',
		imageData:[]
               
              }
           },
        created(){
         this.readImage()
        },
        computed: {

            imageGetters() {
              return this.$store.getters.imageGetters
            }

          },
          methods: {

	       uploadImages(){

             this.loading=false;
             console.log(this.imageFile);

             let formData = new FormData();
              formData.append('name',this.imageFile);
              this.$store.dispatch('imageInsert',
                formData,
                {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
              })
              .then(response => { 

                   this.reset()   
                    this.$toast.success({
                    title: 'Created Successfully',
                  })

                })
                .catch(error => {

                })
             },
		    pickFile () {
	            this.$refs.image.click ()
	        },
			onFilePicked (e) {
				const files = e.target.files
				if(files[0] !== undefined) {
					this.imageName = files[0].name
					if(this.imageName.lastIndexOf('.') <= 0) {
						return
					}
					const fr = new FileReader ()
					fr.readAsDataURL(files[0])
					fr.addEventListener('load', () => {
						this.imageUrl = fr.result
						this.imageFile = files[0] 
					})
				} else {
					this.imageName = ''
					this.imageFile = ''
					this.imageUrl = ''
				}
			},
			reset(){
				    this.imageName = ''
					this.imageFile = ''
					this.imageUrl = ''
			},
           readImage()
           {
                this.loading = true
                this.$store.dispatch('imageData')
                .then(response => {
                   this.loading = false
                   // console.log(response.data.data);
                    this.imageData = response.data.data

                })
           },
           removeImage(id) {

            let conf = confirm(" Do you ready want to delete this Data? ");

            if (conf === true) {

            this.$store.dispatch('deleteImage', id)
              .then(response => {  
                  console.log(response);
                  this.$toast.success({
                    title: 'Deleted  successfully ',
                  })
                })
                .catch(error => {

                })

            }

            }

       }

   }

</script>


